:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

.background {
  background: #ccc;}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.jumbotron {
  background: url('../images/showcase.jpg') no-repeat;
  background-position: center;
  height: 200px;
  padding: 140px 100px;
  color: white;
}

.jumbotron h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.jumbotron hr {
  width: 250px;
  margin: auto;
  border-width: 3px;
  border-color: #f44336;
}

#mainpage h1{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.fas {
  text-align: center;
  margin-top: 0px;
  margin-top: 20px
  margin-bottom: 20px;
  font-size: 40px;
  color: #101010;}

  .panel-default hr {
    width: 100px;
    margin: 10px;
    border-width: 3px;
    border-color: white;
  }
  .panel-default h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }

  .title h1{
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #101010;
  }

  .title h2{
    font-size: 10px;
    font-weight: 700;
    font-style: italic;
    color: #101010;
  }

  .title p{
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    color: #101010;
  }

.row h3{
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #101010;
}
.row p{
  font-size: 10px;
  font-weight: 700;
  font-style: italic;
  color: #101010;
}

.comparison-img{
  position: center;
}

#footer {padding-top: 30px;
  padding-bottom: 24px;}


@media (max-width: 768px) {
  .navbar {
    background-color: #ccc;
  }
}
